<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hsap.huisianpu">
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>

    <!-- 【必须】 信鸽SDK所需权限   -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 【常用】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 【可选】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />








    <application
        android:name=".HsApApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="cfa6de2cfa58161720fd7b0cbb7d4fad">//开发者申请的key

        </meta-data>
        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.SelectApproverActivity"
            android:theme="@style/BackTheme"></activity>
        <activity android:name=".activity.LoginActivity"></activity>
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegistrationActivity"></activity>
        <activity android:name=".activity.ContactsActivity"
            android:theme="@style/BackTheme"></activity>
        <activity android:name=".activity.LeaveActivity"
            android:theme="@style/BackTheme"></activity>
        <activity android:name=".activity.PunchActivity"
            android:theme="@style/BackTheme">
        </activity>
        <service android:name="com.amap.api.location.APSService"></service>
        <activity android:name=".activity.MineInviteActivity"
            android:theme="@style/BackTheme"></activity>
        <activity android:name=".activity.WorkOutActivity"
            android:theme="@style/BackTheme"></activity>
        <activity android:name=".activity.WorkTripActivity"
            android:theme="@style/BackTheme"></activity>
        <activity android:name=".activity.WorkOvertimeActivity"
            android:theme="@style/BackTheme"></activity>
        <activity android:name=".activity.WorkCarActivity"
            android:theme="@style/BackTheme"></activity>
        <activity android:name=".activity.WorkDayNewPaperActivity"
            android:theme="@style/BackTheme"></activity>

        <activity android:name=".activity.WorkWeekNewPaperActivity"
            android:theme="@style/BackTheme"></activity>
        <activity android:name=".activity.WorkMonthNewPaperActivity"
            android:theme="@style/BackTheme"></activity>

        <activity android:name=".activity.WorkCheckReportActivity"
            android:theme="@style/BackTheme"></activity>

       <activity android:name=".activity.MineReportActivity"
           android:theme="@style/BackTheme"></activity>
       <activity android:name=".activity.WorkApprovalActivity"
           android:theme="@style/BackTheme"></activity>
        <activity android:name=".activity.MineApprovalActivity"
            android:theme="@style/BackTheme"></activity>
        <activity android:name=".activity.WorkSummaryActivity"
            android:theme="@style/BackTheme"></activity>
        <activity android:name=".activity.MineProjectActivity"
            android:theme="@style/BackTheme"></activity>
        <activity android:name=".activity.WorkPublishProjectActivity"
            android:theme="@style/BackTheme"></activity>
        <activity android:name=".activity.WorkSeeProjectActivity"
            android:theme="@style/BackTheme"></activity>
         <activity android:name=".activity.WorkAttendanceActivity"
             android:theme="@style/BackTheme"></activity>
         <activity android:name=".activity.WorkModifyPermissionsActivity"
             android:theme="@style/BackTheme"></activity>






        <!-- 【必须】 信鸽receiver广播接收 -->
        <receiver android:name="com.tencent.android.tpush.XGPushReceiver"
            android:process=":xg_service_v3" >
            <intent-filter android:priority="0x7fffffff" >
                <!-- 【必须】 信鸽SDK的内部广播 -->
                <action android:name="com.tencent.android.tpush.action.SDK" />
                <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE" />
                <!-- 【必须】 系统广播：开屏和网络切换 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.tencent.android.tpush.service.XGPushServiceV3"
            android:exported="true"
            android:persistent="true"
            android:process=":xg_service_v3" />
        <service
            android:name="com.tencent.android.tpush.rpc.XGRemoteService"
            android:exported="true">
            <intent-filter>
                <!-- 【必须】 请修改为当前APP包名 .PUSH_ACTION, 如demo的包名为：com.qq.xgdemo -->
                <action android:name="com.hsap.huisianpu" />
            </intent-filter>
        </service>
        <!-- 【必须】 【注意】authorities修改为 包名.AUTH_XGPUSH, 如demo的包名为：com.qq.xgdemo-->
        <provider
            android:name="com.tencent.android.tpush.XGPushProvider"
            android:authorities="com.hsap.huisianpu.AUTH_XGPUSH"
            android:exported="true"/>
        <!-- 【必须】 【注意】authorities修改为 包名.TPUSH_PROVIDER, 如demo的包名为：com.qq.xgdemo-->
        <provider
            android:name="com.tencent.android.tpush.SettingsContentProvider"
            android:authorities="com.hsap.huisianpu.TPUSH_PROVIDER"
            android:exported="false" />
        !-- 【必须】 【注意】authorities修改为 包名.TENCENT.MID.V3, 如demo的包名为：com.qq.xgdemo-->
        <provider
            android:name="com.tencent.mid.api.MidProvider"
            android:authorities="com.hsap.huisianpu.TENCENT.MID.V3"
            android:exported="true" >
        </provider>
        <!-- 【必须】 请将YOUR_ACCESS_ID修改为APP的AccessId，“21”开头的10位数字，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_ID"
            android:value="2100271315" />
        <!-- 【必须】 请将YOUR_ACCESS_KEY修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_KEY"
            android:value="A1T277UVH5JP" />








    </application>

</manifest>